*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc;
  color: #2d3748;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#root {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 2px solid #5b21b6;
  background-color: #6b21b6;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #553c9a;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #5b21b6;
  font-size: 1rem;
}
