/* Global Reset */
*,
html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: #121212; /* Dark theme */
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

/* Root container */
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 0;
  color: #00ffcc; /* Neon Cyan */
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

/* Forms & Inputs */
input {
  border-radius: 5px;
  border: 2px solid #00ffcc;
  background-color: transparent;
  padding: 0.5rem;
  color: #ffffff;
  transition: all 0.2s ease-in;
}

input:focus {
  outline: none;
  border-color: #00e6b8;
}

/* Buttons */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00ffcc;
  background-color: #00ffcc;
  color: #121212;
  font-weight: bold;
  padding: 0.75rem 1rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

/* Checkboxes & Radio */
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  accent-color: #00ffcc;
}

/* Select Dropdown */
select {
  border: 2px solid #00ffcc;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.2s ease-in;
}
