.container {
    /* Styles of hero container */
}

.top {
    /* Styles of top section */
}

.left {
    /* Styles of left section */
}

.right {
    /* Styles of right section */
}

.bottom {
    /* Styles of bottom section */
}